# Dart/Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
*.iml
*.iws
*.ipr

# iOS
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
**/DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Android
android/.gradle/
android/local.properties
android/captures/
android/.cxx/

# macOS
.DS_Store
